# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp
**/out-tsc
**/wwwroot
**/Debug
**/bin
**/obj

# dependencies
**/node_modules
**/packages

# IDEs and editors
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vs
*.user

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
package-lock.json
/typings
*.private.json

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
RatekCC.Web/Logs/
*.pubxml

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user